.main{
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 10vw;
}

.paragraphe {
	font-size: 20px;
	font-family: Libre Franklin;
	padding: 10px;
	color: white;
}


.carte-description {
	font-family: Libre Franklin;
	font-size: 20px;
	background-color: #003366;
	padding: 10px;
	color: white;
}


.titre {
	font-size: 30px;
	font-family: Libre Franklin;
	background-color: #3A020D;
	display: inline-block;
	padding: 10px;
	color: white;
}

.paragraphe {
	margin-top: 40px;
	padding: 10px;
	color: white;
	font-size: 15px;
}


.carte {
	overflow: hidden;
	margin-top: 3vw;
}


.carte, .carte-image, .carte-description {
	width: 38vw;
}

.carte-image {
	display: block;

}

.galerie{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}